.body-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../pictures/Projects/CV.jpg) no-repeat center/cover;
    filter: contrast(15%);
    z-index: -1;
}

.print-container {
    width: 1200px;
    height: auto;
    padding: 10mm;
    box-sizing: border-box;
    background-color: white;
    margin: auto;
}

/***** En-tête *****/
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
}

.header-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;   
}

.header-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 5%;
}

.header-img img {
    width: 70%;
    border-radius: 50%;
}

.header-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-titles h3 {
    margin-top: 20px;
    font-size: 0.9rem;
}

/***** Centre *****/
main {
    display: flex;
    justify-content: flex-start;
}

/***** Barre latérale *****/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.aside-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aside-category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
}

.contact-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 8px;
}

th {
    font-size: 1.5rem;
    text-align: left;
}

table i {
    font-size: 1.7rem;
}

.personal-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/***** Contenu principal *****/
.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: auto;
}

.intro {
    line-height: 25px;
    text-align: justify;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
}

article {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 270px;
}

.project-img,
.project-description {
    display: flex;
}

.project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    border: 1px solid rgba(175, 175, 175, 0.5);
    border-radius: 10px;
    box-shadow: 9px 9px 4px 0 rgba(70, 70, 70, 0.308);
}

.project-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-description {
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 66.67%;
}

.project-titles {
    margin-top: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.project-technos {
    display: flex;
    justify-content: space-around;
}

.project-chart {
    width: 70%;
}
    
canvas {
    width: 100%;
    margin: 0 auto;
    max-height: 150px;
}

.project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 7px;
}

.project-links a {
    cursor: pointer;
    width: 115px;
    padding: 7px;
    color: #fff;
    text-align: center;
    background-color: #8d2a79;
    box-shadow: 9px 9px 4px 0 rgba(70, 70, 70, 0.308);
}

/***** Pied de page *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

footer h3 {
    margin: auto 0;
    padding: 7px 0;
    text-align: center;
}

.all,
.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.all {
    flex-direction: column;
    gap: 5px;
}

.all-categories {
    width: 100%;
}

.job {
    height: 140px;
    font-size: 1.1rem;
    box-shadow: 9px 9px 4px 0 rgba(70, 70, 70, 0.308);
    outline: 10px solid transparent; /* Utiliser outline pour l'espacement sans affecter la box-shadow */
}

.job-img {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: left;
    color: white;
    overflow: hidden;
}

.job-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Utilise le même fond */
    filter: brightness(33%);
    z-index: 1;
    pointer-events: none; /* Pour permettre les interactions avec le contenu réel */
}

.job-formation {
    position: relative; /* Pour que le texte soit au-dessus du pseudo-élément */
    z-index: 2;
}

.cinema {
    background: url("../pictures/XP/film.png") center/cover no-repeat;
}

.rescue {
    background: url("../pictures/XP/rescue.jpg") center/cover no-repeat;
}

.coaching {
    background: url("../pictures/XP/coaching.png") center/cover no-repeat;
}

.shop {
    background: url("../pictures/XP/shop.jpg") center/cover no-repeat;
}

.school {
    background: url("../pictures/XP/school.jpg") center/cover no-repeat;
}

@media print {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        font-size: 10pt;    
    }
    
    h1 { 
        font-size: 18pt; 
    }

    .body-bg {
        display: none;
    }

    h2 { 
        font-size: 14pt; 
    }

    h3 { 
        font-size: 12pt; 
    }
    
    .print-container {
        box-shadow: none;
        padding: 5mm;
        width: 210mm;
        height: 297mm;
    }

    header {
        height: auto;
        margin-bottom: 5mm;
    }
    .header-img {
        width: 150px;
        height: 150px;
    }
    main {
        gap: 5mm;
    }

    .projects article {
        height: auto;
        margin-bottom: 5mm;
    }

    .project-description {
        justify-content: center;
    }

    .project-chart {
        width: 100%;
    }

    .project-links {
        display: none;
    }

    .job-img::before {
        background: #000;
        opacity: 0.7;
    }

        
        
}