@media print {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: fit-content;
        font-size: 15pt;    
        background: none;
    }
    
    .body-bg {
        display: none;
    }
    
    .print-container {
        box-shadow: none;
        overflow: hidden;
    }

    .header-img {
        width: 180px;
        height: 180px;
    }

    .header-links {
        display: none;
    }
    
    h1 { 
        font-size: 38pt; 
    }

    h2 { 
        font-size: 25pt; 
    }

    h3 { 
        font-size: 20pt; 
    }

    .personal .aside-category-columns {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    main {
        padding: 0 15mm 0 10mm;
    }

    .intro {
        margin-bottom: 0;
    }

    article {
        height: 250px;
    }

    .article2 {
        margin: 30px 0;
    }
    
    .project-img-container {
        height: 100%;
    }

    .project-technos {
        margin-top: 10mm;
    }
    
    .project-chart {
        width: 100%;
    }

    .project-links {
        display: none;
    }

    footer {
        width: 90%;
        margin: 0 auto;
    }

    footer h2 {
        font-size: 20pt;
    }

    footer h3 {
        padding: 5px 0;
        font-size: 15pt;
    }

    .jobs {
        justify-content: space-between;
        gap: 0;
    }

    .job {
        display: flex;
        align-items: flex-start;
        height: 105px;
        box-shadow: none;
    }

    .job-img {
        align-items: flex-start;
        text-align: top;
        color: black;
        background: none;
    }

    .job-formation {
        text-align: start;
    }
}