/***** En-tête *****/
header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 180px;
}

.header-bg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;   
}
.header-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 91%;
    background: url("../pictures/Profile/header.jpg") center/cover no-repeat;
    filter: opacity(0.1);
    z-index: -1;
}

.header-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 5%;
}

.header-img img {
    width: 70%;
    border-radius: 50%;
}

.header-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-titles h3 {
    margin-top: 20px;
    font-size: 0.9rem;
}

/***** Centre *****/
main {
    display: flex;
    justify-content: flex-start;
}

/***** Barre latérale *****/
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.aside-category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aside-category-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
}

.contact-address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    padding: 8px;
}

th {
    font-size: 1.5rem;
    text-align: left;
}

table i {
    font-size: 1.7rem;
}

.personal-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/***** Contenu principal *****/
.center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: auto;
}

.intro {
    line-height: 25px;
    text-align: justify;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
}

article {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 270px;
}

.project-img,
.project-description {
    display: flex;
}

.project-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.project-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-description {
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    width: 66.67%;
}

.project-titles {
    margin-top: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.project-technos {
    display: flex;
    justify-content: space-around;
}

.project-chart {
    width: 70%;
}
    
canvas {
    width: 100%;
    margin: 0 auto;
    max-height: 150px;
}

.project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 7px;
}

.project-links a {
    cursor: pointer;
    width: 115px;
    padding: 7px;
    color: #fff;
    text-align: center;
    background-color: #8d2a79;
}

/***** Pied de page *****/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

footer h3 {
    margin: auto 0;
    padding: 7px 0;
    text-align: center;
}

.all,
.jobs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all {
    flex-direction: column;
    gap: 5px;
}

.all-categories {
    width: 100%;
}
    
.job {
    height: 125px;
    box-shadow: 9px 9px 4px 0 rgba(70, 70, 70, 0.308);
}

.job-img {
    position: relative; /* Pour positionner le pseudo-élément par rapport à ce conteneur */
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    text-align: left;
    color: white;
    overflow: hidden; /* Pour s'assurer que le pseudo-élément ne dépasse pas */
}

.job-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Utiliser le même fond */
    filter: brightness(33%); /* Assombrir l'image */
    z-index: 1; /* Placer en dessous du texte mais au-dessus de l'image */
    pointer-events: none; /* Pour permettre les interactions avec le contenu réel */
}

.job-formation {
    position: relative; /* Pour que le texte soit au-dessus du pseudo-élément */
    z-index: 2; /* Placer au-dessus du pseudo-élément assombri */
}

.cinema {
    background: url("../pictures/XP/film.png") center/cover no-repeat;
}

.rescue {
    background: url("../pictures/XP/rescue.jpg") center/cover no-repeat;
}

.coaching {
    background: url("../pictures/XP/coaching.png") center/cover no-repeat;
}

.shop {
    background: url("../pictures/XP/shop.jpg") center/cover no-repeat;
}

.school {
    background: url("../pictures/XP/school.jpg") center/cover no-repeat;
}
